@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>


<h2><strong>We'd love to hear from you</strong></h2>
<p>Feel free to contact us with questions comments and concerns at:</p>

<address>
    440-554-1116
    <a href="emailto:s01034789@acad.tri-c.edu">s01034789@acad.tri-c.edu</a>
</address>
