@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2 style ="text-align: center"><strong>Who We Are</></strong></h2>
<p style="text-align: center">
</p>
<h2 style ="text-align: center"><strong>Our Mission</></strong></h2>
<p style="text-align: center">We are here to provide you with quality sporting goods for whatever sport you love to play.</p>
<h2 style="text-align: center"><strong>Where We'll Go</></strong></h2>
<p style="text-align: center"></p>



