@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2 style ="text-align: center"><strong>Who We Are</></strong></h2>
<p style="text-align: center">
    Established in 2022, Matt’s Sporting Goods carries anything that you might need for any
    sport. And if we don’t have it, we will figure out a way to get it. That is how dedicated
    we are to making sure you get what you need to play the sport you love. After all, that
    is how we started.<br />

    <strong>A Message from Matt</strong><br />
    Since I was a kid I enjoyed playing sports. I believe that the comradery and challenges
    that are presented by sports are necessary to improve in life. Football, boxing, rugby,
    hockey, climbing, or even going to the gym and getting a workout, it didn’t matter; I
    always looked for ways to fulfill my desire to compete and feel a part of a team,
    whether it was competing against myself or others who loved playing sport. I opened this
    sporting goods store to share my love for sports with the rest of the world, in hopes
    that the products you find and service you receive will not only increase your love for
    sports, but help you improve as a person. Visit our <a href="C:\Users\mosin\OneDrive\Documents\School Fall 2022\IT2030 - ASP.Net Web Programming\-IT-2030---ASP.NET-Web-Programming\Week 11\MattsSportingGoods\MattsSportingGoods\Views\Home\Contact.cshtml">contacts</a> page to reach out to us
    and let us know if there is anything that we can help you with so you can get out there
    and compete. Have fun! Game on!
</p>
<h2 style ="text-align: center"><strong>Our Mission</></strong></h2>
<p style="text-align:center">
    
</p>
<p style="text-align: center">Matt's Sporting Goods is here to provide you with quality 
    sporting goods for whatever sport you are interest in. From amatuer to professional
    we have what you need to succeed and be the best you can be. The more you improve your 
    game, the more we improve. The more friends you make playing the sports you love,
    the more friends we make because we are in this together with a common cause and
    that is to share our loves for sports.</p>




