@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h2 style="text-align:center"><strong>Privacy</strong> </h2>
    Matt’s Sporting Goods and all of its affiliates are owned and operated by Matt’s Sporting Goods. We are committed to your privacy:
    If you so choose to use our website you are agreeing to the terms of our privacy policy and to the collection and use of information in relation 
    to this policy. The personal information that we collect from users are used for providing and improving the service. We will NOT use or share 
    your information with anyone except as described in this Privacy Policy.<br />

    <strong>Information Collection and Use</strong><br />
    For a better experience while using our service, we may require you to price us with personally identifiable information, including but not 
    limited to your name, phone number, birthday, email and address. This information will be used for the sole purpose of contacting you, if you 
    allow us to do so.<br />

    <strong>Log Data</strong><br />
    We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This 
    Log Data may include information such as your computer's Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, 
    the time and date of your visit, the time spent on those pages, and other statistics.<br />
    <strong>Cookies</strong><br />
    Cookies are files with a small amount of data that is commonly used as an anonymous unique identifier. These are sent to your browser from the 
    website that you visit and are stored on your computer's hard drive.
    Our website uses these “cookies” to collect information and to improve our Service. You have the option to either accept or refuse these cookies, 
    and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our 
    Service.<br />
    <strong>Changes to This Privacy Policy</strong><br />
    We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of 
    any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.<br />
    <strong>Contact Us</strong><br />
    If you have any questions or suggestions about our Privacy Policy, do not hesitate to 
    <a href="C:\Users\mosin\OneDrive\Documents\School Fall 2022\IT2030 - ASP.Net Web Programming\-IT-2030---ASP.NET-Web-Programming\Week 11\MattsSportingGoods\MattsSportingGoods\Views\Home\Contact.cshtml">contact us.</a>
</p>
