@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>
<body>
    <h2>History</h2>
    <p>Matt's Sport Emporium was established in Cleveland Ohio in 2022. Despite how poorly Cleveland sports teams
    perform, growing up Matt loved playing sports. Whether it was football, basketball, baseball or most of all, rugby,
    you could find Matt in the yard, at the neighbohood rec center or for his schools, competing and playing the sports he loved.
    <br />
    <br />
    Matt opened this sports store to share his love for sports with others by 
    wanting to provide them with whatever they need so that they may too fall in love with sports as much as he did.
    </p><br />

    <h2>Our Mission</h2>
    <p>
        Whether it be to have a catch in the backyard or compete at the highest level,
        our Mission here at Matt's Sports Emporium is to provide you with quality sports equipment
        that will help you reach your goals, at the lowest possible cost.
    </p><br />

    <h2>Vision</h2>
    <p>
        Matt's Sports Emporium is a growing business. For now, our sales are strictly from the internet.
        Our bright future will result in storefront openings, perhaps in your neighborhood. Please feel free
        to contact us at anytime for suggestions, questions, comments, concerns or even if you would like to
        franchise a store.
    </p>
    
</body>