@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Please feel free to contact us if you have any questions, comments, or concern.</p>
<p>We look forward to hearing from you</p>

<address>
    440-554-1116<br/>
    <a href="emailto:s01034789@acad.tri-c.edu"> s01034789@acad.tri-c.edu</a>
</address>